@keyframes flash {
    0% {
        fill-opacity: 1;
    }

    50% {
        fill-opacity: 0;
    }

    100% {
        fill-opacity: 1;
    }

}

@keyframes fadeInFadeOut {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeInAnim {
    animation: fadeIn 1s
}

.fadeOutAnim {
    animation: fadeOut 1s
}

.flashAnim {
    animation: flash 0.4s 5
}

.fadeInFadeOutAnim {
    animation: fadeInFadeOut
}


.component {
    fill: none;
    fill-rule: evenodd;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1
}

#dmgBox {
    opacity: 0.77399998;
    fill: #3e3e3e;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1.99999893;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1
}

#path4657 {
    opacity: 1;
    fill: none;
    stroke: #ffffff;
    stroke-width: 1.99999893;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1
}

#dmgText {
    /*transform: translate(25%, 0);*/
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18.66665649px;
    line-height: 1.25;
    font-family: roboto;
    -inkscape-font-specification: roboto;
    letter-spacing: 0px;
    word-spacing: 0px;
    opacity: 0;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none
}

#tspan4653 {
    text-align: center;
    text-anchor: middle;
    fill: #ffffff;
    fill-opacity: 1
}